/* Catppuccin Mocha */
@define-color bg        #1e1e2e;
@define-color surface   #313244;
@define-color surface2  #45475a;
@define-color text      #cdd6f4;
@define-color subtext   #a6adc8;
@define-color accent    #cba6f7;
@define-color blue      #89b4fa;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color red       #f38ba8;

* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

/* Общий стиль модулей */
#workspaces,
#clock,
#tray,
#keyboard-state,
#battery,
#custom-power {
    background: @bg;
    padding: 6px 12px;
    margin: 4px 3px;
}

/* Workspaces */
#workspaces button {
    padding: 4px 8px;
    color: @subtext;
    background: transparent;
}

#workspaces button.active {
    color: @accent;
    background: @surface;
}

#workspaces button.urgent {
    color: @red;
}

/* Clock */
#clock {
    color: @blue;
    font-weight: bold;
}

/* Keyboard state */
#keyboard-state {
    color: @yellow;
}

/* Battery */
#battery {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

/* Power */
#custom-power {
    color: @red;
    font-size: 15px;
}

#custom-power:hover {
    background: @surface2;
}

